################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ControleFinanceiro/appsettings.json
/.vs
/ControleFinanceiro/bin/Debug/net8.0/appsettings.json
